//base color
$base-c: #0BCACA;

//background colors for buttons
$def-c: #32DCD5; //default button color
$s-c: #00CB5E; //success button color
$err-c: #B20065; //error button color
$war-c: #FF6C2E; //warning button color
$info-c: #7625CA; //info button color

//grid colors
$darkcyan: #5ADBD6;
$darkblue: #224ED3;
$lightcyan: #51E2D3;
$lightpurple: #C284DF;
$lightgreen: #58D090;
$magenta: #F378C5;
$lightorange: #E6925B;

//fonts
$font: Helvetica;
$btn-c: white; //text color for buttons

//breakpoint
$min-w: 1400px;
